HUE_BASE_URL="https://example.com"

GAMMA_AUTHORIZATION_URI="http://localhost:8081/api/oauth/authorize"
GAMMA_REDIRECT_URI="http://localhost:3001/auth/account/callback"
GAMMA_TOKEN_URI="http://localhost:8081/api/oauth/token"
GAMMA_ME_URI="http://localhost:8081/api/users/me"
GAMMA_SECRET="secret"
GAMMA_CLIENT_ID="client_id"
GAMMA_LOGOUT_URL="http://localhost:8081/api/logout"

SECRET="secret"
