.App {
  text-align: center;
  padding: 25px;
}

button {
  background: transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
  padding: 0;
}

button:hover {
  background: transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
}

button:active {
  outline: none;
  border: none;
}

button:focus {
  outline: 0;
}

.SetAllButton {
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  margin-top: 25px;
  width: 100%;
}

.SetAllButton:hover {
  background: rgba(1, 1, 1, 0.1);
  border: 2px solid black;
}

.Fixed {
  margin-left: 20px;
  position: relative;
}

.Light {
  border-radius: 100%;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 2px, rgba(0, 0, 0, 0.3) 0px 4px 8px;
  width: 100%;
  height: 100%;
}

.Light:hover {
  opacity: 0.8;
  box-shadow: rgba(1, 0.5, 0, 0.8) 0px 0px 2px, rgba(1, 0.5, 0.5, 0.8) 0px 4px 8px;
}

.Light:active {
  box-shadow: rgba(1, 0.5, 0, 0.2) 0px 0px 2px, rgba(1, 0.5, 0.5, 0.2) 0px 4px 8px;
}

.LightContainer {
  margin: 10px;
  width: 75px;
  height: 75px;
  position: absolute;
}

.ErrorContainerContainer {

}

.ErrorText {
  color: red;
  font-size: larger;
}

.ErrorContainer {
  margin-left: 50px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  box-shadow: rgba(1, 0.5, 0, 0.2) 0px 0px 2px, rgba(1, 0.5, 0.5, 0.3) 0px 4px 8px;
  border-radius: 10px;
  padding: 10px;
}

.Row {
  display: flex;
  flex-direction: row;
}